body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-size: 2em;
}

#container {
  width: 800px;
  margin: 0px auto;
}

header {
  padding: 50px;
  text-align: center;
}

main p {
  margin-bottom: 30px;
  font-size: 1em;
}

footer {
  border-top: solid 1px #ccc;
  padding: 20px 0 40px 0;
  text-align: right;
  font-size: 0.7em;
}
